---
import Header from "../../components/Header.astro";

import Lodky from "../../components/Lodky.astro"
---

<div >
	<Header />
  <main class="container">
    <section>
      <h1>Zavážacie loďky</h1>

      <Lodky />

    </section>
  </main>
</div>

<style>
  section h1 {
    font-size: 2.25rem;
    font-weight: 600
  }

  @media (max-width: 500px) {
    section h1 {
      font-size: 1.75rem;
    }
  }
  </style>