---
import { Image } from 'astro:assets';
import Header from "../../components/Header.astro";
import RenegadeFront3 from "../../assets/renegade/front3.webp";
import SpeedingFrontAxo from "../../assets/speeding/front_axo.webp";
---

<div >
	<Header />
  <main class="container">
    <section>
      <h1>Zavážacie loďky</h1>
      <div id="container">
        <a href="/renegade" class="grid-item">
          <div class="img-holder">
            <Image class="image" src={RenegadeFront3} alt="Zavážacie loďka Renegade" loading="eager"/>
          </div>
          <div class="content-holder">
            <span>  <!--Remove this is you want availability to be further from boat name -->
              <h2>Zavážacie loďka Renegade</h2>
              <span class="availability">Skladom</span>
            </span>
            <span class="price">€1 299</span>
            <div class="features">
              <span class="feature">
                GPS
                <!-- &#x2713; -->
                &#x2705;
              </span>
              <span class="feature">
                Sonar
                &#x2705;
              </span>
              <span class="feature">
                Autopilot
                &#x2705;
              </span>
              <span class="feature">
                Slovenský menu
                &#x2705;
              </span>
            </div>
            <p class="desc">Renegade je inteligentná zavažacia lodička vytvorená pre kaprárov, ktorí chcú loviť ťažko dostupné miesta. Zabudovaný sonar vám umožní vidieť hĺbku vody a nájsť miesta, kde veľké kapry...</p>
          </div>
        </a>

        <a href="/speeding" class="grid-item">
          <div class="img-holder">
            <Image class="image" src={SpeedingFrontAxo} alt="Zavážacie loďka Renegade" loading="eager"/>
          </div>
          <div class="content-holder">
            <span>  <!--Remove this is you want availability to be further from boat name -->
              <h2>Zavážacie loďka Speeeding</h2>
              <span class="availability">Skladom</span>
            </span>
            <span class="price">€399</span>
            <div class="features">
              <span class="feature">
                GPS
                <!-- &#x2713; -->
                &#x2705;
              </span>
              <span class="feature">
                Sonar
                &#x2705;
              </span>
              <span class="feature">
                Autopilot
                &#x2705;
              </span>
              <span class="feature">
                Slovenský menu
                &#x2705;
              </span>
            </div>
            <p class="desc">Renegade je inteligentná zavažacia lodička vytvorená pre kaprárov, ktorí chcú loviť ťažko dostupné miesta. Zabudovaný sonar vám umožní vidieť hĺbku vody a nájsť miesta, kde veľké kapry...</p>
          </div>
        </a>

      </div>
    </section>
  </main>
</div>

<style>
  #container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    gap: 50px;
    grid-auto-rows: minmax(550px, auto);  /*minmax(100px, auto)*/
    padding-top: 30px;
  }

  .grid-item {
    grid-column: span 1;
    grid-row: span 1;
    /* border: 1px solid red; */
    padding: 10px;
    color: rgb(9, 11, 15);
    text-decoration: none;
    text-align: center;
    border-radius: 0.75rem;
  }

  .grid-item:hover .image {
    transform: scale(1.05)
  }

  .grid-item:hover h2 {
    text-decoration: underline;
  }

  section h1 {
    font-size: 2.25rem;
    font-weight: 600
  }

  .img-holder {
    overflow: hidden;
    border-radius: 0.75rem;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    object-fit: cover; /* Ensures the image fills the card while maintaining aspect ratio */
    transition: transform 0.3s ease-in-out;
  }

  .content-holder {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 10px;
  }

  .content-holder h2 {
    font-size: 18px;
    font-weight: 400;
  }

  .availability, .price {
    display: block;
  }

  .availability {
    /* color: rgb(62, 112, 205); */
    /* color: rgb(125, 164, 238); */
    color: rgb(65, 130, 249);
  }

  .price {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .desc {
    font-size: 14px;
    font-weight: 300;
  }

  .features {
    display:flex;
    gap:5px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .feature {
    /* background-color: rgba(125, 164, 238, 0.5); */
    background-color: rgba(125, 164, 238, 0.307);
    padding: 3px 8px;
    font-size: 10px;
    border-radius: 4px;
  }

  @media (max-width: 500px) {
    section h1 {
      font-size: 1.75rem;
    }
    #container {
      gap: 35px;
    }
  }

  @media (max-width: 400px) {
    #container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
      gap: 30px;
    }
  }
  </style>