---
import Header from "../../components/Header.astro";
import RenegadeSlider from "../../components/RenegadeSlider.astro";
---

<div id="container">
	<Header />
  <main class="container">
    <div class="center-sec">
      <section id="sec-one">
        <h1 class="mobile-h1">Zavážacia loďka Renegade</h1>
        <RenegadeSlider />
  
        <div class="intro">
          <h1 class="desktop-h1">Zavážacia loďka Renegade</h1>
          <p class="desc">
            Renegade je inteligentná zavažacia lodička vytvorená pre kaprárov,
          ktorí chcú loviť ťažko dostupné miesta, o ktorých iný rybári iba
          snívajú. Zabudovaný sonar vám umožní vidieť hĺbku vody a nájsť miesta,
          kde veľké kapry radi hodia jesť. Loďka je vybavená aj s GPS-om a
          Autopilotom, ktorý pamätá polohu vášho lovného miesta.
          </p>
          <p class="para">
            Dostupnosť<span class="spacer"> - - - - - </span>
            <span class="availability">Skladom</span>
          </p>
          <p class="price">
            €1 299
          </p>
          <p class="para">Vybavenie loďky:</p>
          <div class="features">
            <span class="feature">
              GPS
              <!-- &#x2713; -->
              &#x2705;
            </span>
            <span class="feature">
              Sonar
              &#x2705;
            </span>
            <span class="feature">
              Autopilot
              &#x2705;
            </span>
            <span class="feature">
              Slovenský menu
              &#x2705;
            </span>
            <span class="feature">
              Farebný displej
              &#x2705;
            </span>
            <span class="feature">
              All-in-one ovládač
              &#x2705;
            </span>
            <span class="feature">
              Smart funkcie
              &#x2705;
            </span>
          </div>
          <p class="para desc-buy">
            Ľoďku viete nakúpiť alebo vyskúšať(zadarmo) s kontaktovaním čísla: +421 903 763 327
          </p>
        </div>
      </section>
    </div>
  </main>
</div>

<style>
  /* overwriting globals */
.container {
  margin: 0 30px;
}

.desc, .para {
  line-height: 1.7;
}

.para {
  margin-bottom: 15px;
}

.desc {
  margin-bottom: 15px
}

.desc-buy {
  font-weight: 600; 
  font-size: 18px; 
  margin-top: 30px;
}

.features {
  display:flex;
  gap:10px;
  /* justify-content: center; */
  margin: 15px 0;
  flex-wrap: wrap;
}

.feature {
  /* background-color: rgba(125, 164, 238, 0.5); */
  background-color: rgba(125, 164, 238, 0.307);
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.price {
  font-size: 2rem;
  margin-bottom: 12px;
  font-weight: 500;
}

h1.mobile-h1 {
  display: none;
  padding-bottom: 15px;
}

.desktop-h1 {
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.availability {
  color: rgb(65, 130, 249);
}
.spacer {
  margin: 0 20px;
}

#sec-one {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px 50px 0px;
  gap: 35px;
  width: 1330px;
  margin:  0 auto 0 auto;
}

.intro {
  flex-grow: 1;
}

@media (max-width: 1450px) {
  .container {
    margin: 0 20px;
  }

  #sec-one {
    padding: 35px 0px 50px 0px;
    gap: 35px;
    width: 1200px;
  }
}

@media (max-width: 1270px) {
  .container {
    margin: 0 20px;
  }

  #sec-one {
    width: 1000px;
  }

  .desc-buy {
    margin-top: 25px;
  }

  .features {
    gap:8px;
  }

  .feature {
    font-size: 13px;
  }

  .price {
    font-size: 2rem;
    margin-bottom: 12px;
  }

  .desktop-h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

@media (max-width: 1040px) {
  h1.mobile-h1 {
    display: block;
    font-size: 2.75rem;
    font-weight: 500;
  }

  h1.desktop-h1 {
    display: none;
  }

  .desc-buy {
    margin-top: 30px;
  }

  #sec-one {
    flex-direction: column;
    padding-top: 0;
    gap: 0px;
    width: 650px;
  }

  .intro {
    padding-top: 25px;
    width: 100%;
  }
}

@media (max-width: 750px) {

  #sec-one {
    gap: 0px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 0 10px;
  }

  h1.mobile-h1 {
    font-size: 2.25rem;
  }
}
</style>