---
import Header from "../../components/Header.astro";
import Benefits from "../Benefits.astro";
import RightArrow from "../../assets/arrow-right2.svg"

import LodkyWelcome from "../LodkyWelcome.astro";

import Image from "astro/components/Image.astro";
---

<div id="container">
	<Header />
	<main class="container">
		<section id="welcome">
			<h1>NL Zavážacie Loďky</h1>
			<p class="subhead">Moderné zavážacie loďky ktoré fungujú spoľahlivo.</p>
			<div class="buttons">
				<a href="/lodky" class="slight-blue">Zavážacie loďky
					<Image src={RightArrow} alt="right arrow" loading="eager" />
				</a>
				<a href="#">Servis a Oprava
					<Image src={RightArrow} alt="right arrow" loading="eager" />
				</a>
			</div>
		</section>

		<Benefits />

		<div class="lodky-container">
			<LodkyWelcome />
		</div>
	</main>
</div>

<style>
.container {
	margin: 0 30px;
}

#welcome {
  padding: 70px 0px 110px 0px;
  width: 1330px;
  margin:  0 auto 0 auto;
	text-align: center;
}

#welcome > h1 {
	/* font-size: 6rem; */
	font-size: clamp(20px, 10vw, 6rem);
	font-weight: 500;
}

.subhead {
	padding-top: 5px;
	font-size: 1.4rem;
}

.buttons {
	padding: 40px 0 0 0;
	display: flex;
	justify-content: center;
	gap: 15px
}

.buttons > a {
	text-decoration: transparent;
	padding: 7px 30px;
	background-color: none;
	border-radius: 0.3rem;
	border: 2px solid rgba(125, 164, 238);
	line-height: 1.7;
	transition: all 0.4s;
	display: flex;
	align-items: center;
	gap: 3px;
	font-weight: 500;
}

.slight-blue {
	background-color: rgba(125, 164, 238, 0.2);
}

.buttons > a > img {
	width: 25px;
	height: 25px;
}

.buttons > a:hover {
	background-color: rgba(125, 164, 238, 0.4);
}

.lodky-container {
	margin-top: 50px;
}

@media (max-width: 1450px) {
  .container {
    margin: 0 20px;
  }

  #welcome {
    width: 1200px;
  }
}

@media (max-width: 1270px) {
  .container {
    margin: 0 20px;
  }

  #welcome {
    width: 1000px;
  }
}

@media (max-width: 1040px) {
  #welcome {
		padding-top: 60px;
    width: 650px;
  }

	#welcome > h1 {
		font-size: 4.4rem;
	}
}

@media (max-width: 750px) {
  #welcome {
		padding-top: 50px;
    width: 100%;
  }

	#welcome > h1 {
		line-height: 1.3;
		word-wrap: break-word;
	}
	
	.subhead {
		font-size: 1.2rem;
		padding-top: 20px;
	}
	
	.buttons {
		padding-top: 30px;
	}
}

@media (max-width: 500px) {
  .container {
    margin: 0 15px;
  }

	#welcome {
		padding-bottom: 70px;
	}

	#welcome > h1 {
		font-size: clamp(20px, 14vw, 6rem);
	}

	.buttons {
		flex-direction: column;
		gap: 10px;
	}
	
	.buttons > a {
		justify-content: center;
	}
}
</style>