---
import Header from "../../components/Header.astro";
---

<!-- Once we load this welcome page, we will return a div like here: And inside of that div we will return a header compenent where we want to return one -->
 <!-- This way, we can exclude/include headers where we want them to be, genius. -->
<div id="container">
	<Header />
	<main>This is the welcome page</main>
</div>