---
import Front1 from "../assets/renegade/front1.webp";
import LeftArrow from "../assets/arrow-left.svg";
import RightArrow from "../assets/arrow-right.svg";
import Image from "astro/components/Image.astro";
---

<div class="slideshow-container">
  <div class="holder">
    <img src={Front1.src} id="imag" alt="Renegade" data-img="1"/>

    <div class="controls">
      <button id="prev">
        <Image src={LeftArrow} alt="Previous" />
      </button>
      <button id="next">
        <Image src={RightArrow} alt="Next" />
      </button>
    </div>
  </div>
</div>

<script type="module" defer>
  let images = ["/renegade/front1.webp", "/renegade/front2.webp", "/renegade/front3.webp", "/renegade/protector.webp"];

  document.getElementById("next").addEventListener("click", () => {
    let img = document.getElementById("imag");

    if (img.dataset.img === images.length.toString()) {
      img.src = images[0];
      img.dataset.img = "1";
    } else {
      img.src = images[(img.dataset.img - 1) + 1];
      img.dataset.img++;
    }
  })

  document.getElementById("prev").addEventListener("click", () => {
    let img = document.getElementById("imag");

    if (img.dataset.img === "1") {
      img.src = images[images.length - 1];
      img.dataset.img = images.length.toString();
    } else {
      img.src = images[(img.dataset.img - 1) - 1];
      img.dataset.img--;
    }
  })
</script>

<style>

#imag {
  max-height: 600px;
  max-width: 100%;
  border-radius: 0.5rem;
}

.holder {
  text-align: center;
  width: 580px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#next, #prev {
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#next img, #prev img {
  width: 30px;
  height: 30px;
}

@media (max-width: 1040px) {
  .holder {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .holder {
    width: 100%;
  }
}


</style>